# Types
types-requests
pandas-stubs

# Exchange & Data
python-binance
websockets<14.0

# Data Processing
pandas
numpy
hurst

# Visualization
matplotlib
seaborn

# Infra
python-dotenv
loguru
loguru-loki-handler
requests
pyee
apscheduler

# Database
pymongo
psycopg2-binary

# Linting
pylint

# Telegram
aiogram>=3.0.0

# Testing
pytest
pytest-asyncio